/*
=D
*/

html {
  font-size: calc(1em + 1vmin + 1pt);
  font-family: sans-serif;
  line-height: 1.618;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 2rem;
  overflow-wrap: anywhere;
}

header {
  align-self: flex-start;
  contain: content;
}

footer,
article {
  contain: content;
  margin: 2rem 0 3em;
  min-width: min(30em, 80vw);
}

* { box-sizing: border-box }
a { display: inline-block }
kbd,
i { font-size: 1.236rem }
samp { font-size: .764rem }
span { font-weight: 400 }
mark { font-weight: 700 }
h2 { margin-block: 2rem }

.logo {
  padding: 0;
  font-family: monospace;
  font-size: 1.618rem;
  text-decoration: none;
}

small {
  font-size: 1rem;
  float: right;
}

dl {
  margin-block: 3ch 0;
}

dt {
  display: flow-root;
  font-size: 1.236em;
  margin-block: 3ch 0;
}

dt:first-child {
  margin-block: 0;
}

dd {
  display: flow-root;
  margin-block: 1ch;
  margin-inline: 0;
}

dt[class*=tape] {
  padding: 1ch;
}

dd[class*=tape] {
  margin: 0;
  padding-inline-start: 1ch;
}

.dotty { text-decoration-style: dotted }
.wordwave { display: table }  
.cad { padding-inline: 1ch; padding-block: .236ch .382ch }
.pad { padding: 1em }
.dyno { padding-block-end: 1em }
.simp { font-family: monospace; font-size: unset }
.flush { margin: 0 }
.flart { float: inline-start }
.flend { float: inline-end }
.fruit { display: flow-root }

:focus {
  outline: thick dotted;
}

[href^="#"] {
  text-decoration-style: dashed;
}

:any-link:hover {
  text-decoration-style: double;
}

#elves { display: none }
#elves:target { display: flow-root }

@media (orientation:portrait) {
  body {
    margin-inline: 1em;
  }
}
