/*
=D
*/

html {
  font-size: calc(1em + 1vmin + 1pt);
  font-family: sans-serif;
  line-height: 1.618;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 2rem;
  overflow-wrap: anywhere;
}

header {
  align-self: flex-start;
}

footer p {
  margin: 0;
}

h1, h2, h3 {
  display: flow-root;
}

* { box-sizing: border-box }
a { display: inline-flex }
dl a { display: inline }
samp { font-size: .764rem }
mark { font-weight: bold }

.logo {
  box-sizing: border-box;
  padding: 0;
  font-family: monospace;
  font-size: 1.618rem;
  display: table;
  text-decoration: none;
}

.blurb {
  margin: 2rem 0;
  min-width: min(30em, 80vw);
}

small {
  font-size: 1rem;
  float: right;
}

dt {
  display: flow-root;
  font-size: 1.236em;
  margin-block: 1em 0;
}

dt:first-child {
  margin-block: 0;
}

dd {
  display: flow-root;
  margin: 0;
}

.boost,
dd i {
  font-size: 1.236em;
}

dt[class*=tape] {
  padding: 1ch;
}

dd[class*=tape] {
  margin: 0;
  padding-inline-start: 1ch;
}

.dotty { text-decoration-style: dotted }
.wordwave { display: table }  
.cad { padding-inline: .618ch; padding-block-end: .382ch; }
.pad { padding: 1rem }
.flush { margin: 0 }
.dyno { padding-block-end: 1em }
.simp { font-family: monospace }
.flart { float: inline-start }
.flend { float: inline-end }

:focus {
  outline: thick dotted;
}

[href^="#"] {
  text-decoration-style: dashed;
}

:any-link:hover {
  text-decoration-style: double;
}

#elves { display: none }
#elves:target { display: flow-root }

@media (orientation:portrait) {
  body {
    margin-inline: 1em;
  }
}
